{% extends "base.html" %} {% block content %}
<h2>Welcome to the Register page.</h2>
<div class="login">
	<div>
		<div class="info">
			<h3>
				<u>Register</u> & <u>Connect</u> in order to access your dashboard.
			</h3>
		</div>
		<form method="post" class="form">
			{% csrf_token %} {{ register_form.as_p }}
			<button type="submit" class="btn btn-primary">Register</button>
		</form>
		<div class="info">
			<p>You already have an account? <a href="{% url 'login' %}">Log In</a></p>
		</div>
	</div>
</div>
{% endblock content %}
